<% content_for :title do %>
    <title>New Visit Note | Dashboard | Dokterku</title>
<% end %>

<div id="sb-site">
  <div id="page-wrapper">
    <%= render 'partials/header' %>
    <%= render 'partials/user_sidebar' %>
    <div id="page-content-wrapper">
      <div id="page-content">
        <div id="verify-inst-user" class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
              <ul class="steps-flow p-0 mb-20">
                <li class="ptb-10 prl-30 done">Step 1</li>
                <li class="ptb-10 prl-30 done">Step 2</li>
                <li class="ptb-10 prl-30 done">Step 3</li>
              </ul>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
              <h2>Visit note</h2>
            </div>
          </div>
        </div>
        <div class="row mt-40">
          <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
            <%= form_tag("/institutions/#{@institution.id}/visit_notes/#{@note.id}/set_therapy") do%>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Suntikan</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="injection" placeholder="Enter suntikan">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-20">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Infus</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="infusion" placeholder="Enter diagnosis infus">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-20">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Tranfusi</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="transfusion" placeholder="Enter tranfusi">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-20">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Oral</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="oral" placeholder="Enter diagnosis akhir komplicasi">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-20">
                <div class="col-sm-6 pr-20">
                  <%= submit_tag "Next", class: 'btn ra-100 btn-primary btn-sm' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>