<div id="page-sidebar">
  <div class="scroll-sidebar">
    <ul id="sidebar-menu">
      <li class="header"><span>Overview</span></li>
        <li>
        <%= link_to users_path do %>
            <i class="glyph-icon icon-user"></i>
            <span>Users</span>
        <% end %>
        </li>
        <li>
        <%= link_to institutions_path do %>
            <i class="glyph-icon icon-medkit"></i>
            <span>Institutions</span>
        <% end %>
        </li>
    </ul>
  </div>
</div>
