<% content_for :title do %>
  <title>New User | Dashboard | Dokterku</title>
<% end %>

<div id="sb-site">

<div id="page-wrapper">
    <%= render 'partials/header' %>
    <%= render 'partials/sidebar' %>
    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">
                <div class="panel">
                    <div class="panel-body">
                        <%= render 'form' %>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
